.container {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: auto;
  text-align: center;
  font-family: Arial, sans-serif;
}
body {
  background: #8758ff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.App {
  text-align: center;
}

.todo-list {
  list-style-type: none;
  padding: 0;
  margin: 20px 0;
}

.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 5px 0;
  background-color: #f9f9f9;
  transition: background-color 0.2s;
}

.todo-item:hover {
  background-color: #f1f1f1;
}

.todo-text {
  flex: 1;
  margin-right: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.completed {
  text-decoration: line-through;
  color: #888;
}

button {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  transition: background-color 0.2s;
}

button:hover {
  background-color: #8d87a0;
}

input[type="text"] {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 10px;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
